<!DOCTYPE html>
<html lang="fr">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Collaboro | Modifier un  projet</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body >
  <div class="container-scroller  ">
    <!--navbar start-->
    <nav class="navbar  fixed-top navbar-light shadow-sm  d-flex  align-items-center ">
      <a class="navbar-brand " href="/index">
        <img src="/assets/img/logo.png"  class="d-inline-block align-top"> </a>
        <ul class="nav justify-content-end ">
          <li class="nav-item navbar-item">
            <a class="nav-link count-indicator " href="/chat">
              <i class="bi bi-envelope-fill mr-5 "></i>
              <span class="count1"></span>
            </a>
          </li>
          <li class="nav-item navbar-item">
            <a class="nav-link count-indicator " href="/notification">
              <i class="bi bi-bell-fill mr-4 "></i>
              <span class="count"></span>
            </a>
          </li>
          <li class="nav-item  mr-5 navbar-item">
            <a class="nav-link profile-photo " href="/EditMyProfile/<%= data._id%>"><img src="<%=data.photo%>" >
            </a>
          </li>

        
        </ul>
    </nav>
    <!--navbar end-->
    <div class="container-fluid page-body-wrapper">
      <!--sidebar start-->
        <nav class="sidebar shadow flex-row align-items-start mx-0 px-0  " id="sidebar">
            <ul class="nav" id="sidebar">
              <li class="nav-item nav-link">
                  <button onclick="toggleNavbar()" class="btn btn-lg  " id="btnToggler"><i class="bi bi-arrow-return-left"></i></button>
              </li>
              <li class="nav-item  ">
                <a class="nav-link" href="/dashboard.html">
                  <i class="bi bi-grid"></i>
                  <span class="menu-title mx-2">Acceuil</span>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" data-toggle="collapse" href="/projets"  >
                  <i class="bi bi-code-square"></i>
                  <span class="menu-title mx-2 ">Projets</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="/sprints"  >
                  <i class="bi bi-arrow-repeat"></i>
                  <span class="menu-title mx-2 ">Sprints</span>
                </a>
              </li>
            
              <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="/taches" >
                  <i class="bi bi-list-task"></i>
                  <span class="menu-title mx-2">Tâches</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="/meeting">
                  <i class="bi bi-camera-video"></i>
                  <span class="menu-title mx-2 ">Meeting</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="/chat">
                  <i class="bi bi-chat-left"></i>
                  <span class="menu-title mx-2">Chat</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="/chat">
                  <i class="bi bi-bell"></i>
                  <span class="menu-title mx-2">Notification</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="/EditMyProfile">
                  <i class="bi bi-people"></i>
                  <span class="menu-title mx-2">Profil</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="/documentation">
                  <i class="bi bi-book"></i>
                  <span class="menu-title mx-2">Documentation</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="/">
                  <i class="bi bi-box-arrow-left"></i>
                  <span class="menu-title mx-2">Déconnexion</span>
                </a>
              </li>
            </ul>
        </nav>
        <nav class="mobile-sidebar shadow  flex-row align-items-start mx-0 px-0    " id="mobile-sidebar">
          <ul class="nav" >
            <li class="nav-item">
              <button onclick="toggleNavbar()" class="btn btn-lg " id="btnToggler"><i class="bi bi-arrow-return-right"></i></button>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="/dashboard">
                <i class="bi bi-grid"></i>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" data-toggle="collapse" href="/projets"  >
                <i class="bi bi-code-square"></i>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" data-toggle="collapse" href="/sprints"  >
                <i class="bi bi-arrow-repeat"></i>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" data-toggle="collapse" href="/taches" >
                <i class="bi bi-list-task"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="/meeting">
                <i class="bi bi-camera-video"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="/chat">
                <i class="bi bi-chat-left"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="/notification">
                <i class="bi bi-bell"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="/EditMyProfile">
                <i class="bi bi-people"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="/documentation">
                <i class="bi bi-book"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="/logout">
                <i class="bi bi-box-arrow-left"></i>
              </a>
            </li>
          </ul>
      </nav>
      <%
        <!--splitting date--> 
        var jour =projet.dateDebut.substr(0,projet.dateDebut.indexOf('-')) ;  
        var mois =projet.dateDebut.substr(projet.dateDebut.indexOf('-')+1,projet.dateDebut.lastIndexOf('-')-projet.dateDebut.indexOf('-')-1) ;  
        var annee =projet.dateDebut.substr(projet.dateDebut.lastIndexOf('-')+1) ;  
      %>
        <!--sidebar end-->
        <div class=" container-fluid main-panel" id=main-panel-home >
          <div class="content-wrapper" id="main-panel-wrapper">
            <!--First row start-->
            <div class="row d-flex justify-content-between">
                <div class="page-title"><h4>Modifier votre projet</h4></div>
            </div>
            <div class="row mt-2">
                <div class="form-container col" >
                  <form action="/api/project/update/" method="post"  onsubmit="return checkProjectForm()">
                  <div class="form-group row ">
                    <input type="text" class="form-control d-none" id="_id" name="_id"  value="<%=projet._id%>">
                    <div class="col-sm-12 ">
                      <label for="name">Titre de projet</label>
                    </div>
                    <div class="col-sm-12 m-auto">
                      <input type="text" class="form-control " id="titre" name="titre" placeholder="titre de projet ..." value="<%=projet.titre%>">
                      <div id="validationFeedback" class="invalid-feedback">
                        Le nom de votre nouveau projet doit  être non vide 
                      </div>
                    </div>
                  </div>
                  <div class="form-group row ">
                    <div class="col-sm-12 ">
                      <label for="first_name">Description</label>
                    </div>
                    <div class="col-sm-12 m-auto">
                      <input type="text" class="form-control " id="description" name="description" placeholder="Décrivez l'idée générale de votre projet ..." value="<%=projet.description%>">
                      <div id="validationFeedback" class="invalid-feedback">
                        Le description de projet  doit être non vide .
                      </div>
                    </div>
                  </div>
                  <div class="form-group row ">
                    <div class="col-sm-12 ">
                      <label for="day">Date début</label>
                    </div>
                    <div class="col-sm-4 m-auto">
                      <input type="text" class="form-control " id="day" name="day" placeholder="Jour" min=01 max=31 value="<%=jour%> ">
                      <div id="validationFeedback" class="invalid-feedback">
                        Le jour saisie est invalide
                      </div>
                      
                    </div>
                    <div class="col-sm-4 m-auto">
                      <select class="custom-select" id="month" name="month">
                        <option value"invalid_choice">Mois</option>
                        <option <%if(mois=="Janvier"){%>selected<%}%>>Janvier</option>
                        <option <%if(mois=="Février"){%>selected<%}%>>Février</option>
                        <option <%if(mois==" Mars"){%>selected<%}%>> Mars</option>
                        <option <%if(mois=="Avril"){%>selected<%}%>>Avril</option>
                        <option <%if(mois=="Mai"){%>selected<%}%>>Mai</option>
                        <option <%if(mois=="Juin"){%>selected<%}%>>Juin</option>
                        <option <%if(mois==" Juillet"){%>selected<%}%>> Juillet</option>
                        <option <%if(mois=="Août"){%>selected<%}%>>Août</option>
                        <option <%if(mois=="Septembre"){%>selected<%}%>>Septembre</option>
                        <option <%if(mois=="Octobre"){%>selected<%}%>>Octobre</option>
                        <option <%if(mois=="Novembre"){%>selected<%}%>>Novembre</option>
                        <option <%if(mois=="Décembre"){%>selected<%}%>>Décembre</option>
                      </select>
                      <div id="validationFeedback" class="invalid-feedback">
                        Veuillez sélectionner  le mois de début de votre projet 
                      </div>                          
                    </div>
                    <div class="col-sm-4 m-auto">
                      <input type="text" class="form-control " id="year" name="year" placeholder="Année" value="<%=annee%> ">
                      <div id="validationFeedback" class="invalid-feedback">
                       Veuillez sélectionner l'année de début de votre projet 
                      </div>
                    </div>
                  </div>  
                  <div class="form-group row ">
                    <div class="col-sm-12 ">
                      <label for="country">Détails de projet</label>
                    </div>
                    <div class="col-sm-4 m-auto">
                      <input type="text" class="form-control " id="budget" name="budget" placeholder="le budget de votre projet..." value="<%=projet.budget%>">
                      <div id="validationFeedback" class="invalid-feedback">
                        Le budget de projet est composé uniquement par des chiffres 0-9 et le caractère '.' ou ','
                      </div>
                    </div>
                    <div class="col-sm-4 m-auto">
                      <input type="text" class="form-control " id="cahierCharge" name="cahierCharge" placeholder="le lien vers le cahier de charge " value="<%=projet.cahierCharge%>">
                      <div id="validationFeedback" class="invalid-feedback">
                        Le lien doit avoir la forme www.lien.domaine
                      </div>
                    </div>
                    <div class="col-sm-4 m-auto">
                      <select name="domaine" id="domaine" class="form-control">
                        <option value="invalid_choice">A quel domaine votre projet appartient t-il?</option>
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="AGRICULTURE-ALIMENTATION"){%>selected<%}%>value="/assets/uploads/domaines/agriculture.jpg-AGRICULTURE-ALIMENTATION">AGRICULTURE-ALIMENTATION</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="TRAVAUX ET CONSTRUCTION "){%>selected<%}%>value="/assets/uploads/domaines/alimentation.jpg-TRAVAUX ET CONSTRUCTION">TRAVAUX ET CONSTRUCTION</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="ARMÉE-SÉCURITÉ-SECOURS"){%>selected<%}%>value="/assets/uploads/domaines/security.jpg-ARMÉE-SÉCURITÉ-SECOURS">ARMÉE-SÉCURITÉ-SECOURS</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="ARTISANAT D’ART-DESIGN-MODE"){%>selected<%}%>value="/assets/uploads/domaines/architecture.jpg-RTISANAT D’ART-DESIGN-MODE">ARTISANAT D’ART-DESIGN-MODE</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="BANQUE-FINANCE-ASSURANCE"){%>selected<%}%>value="/assets/uploads/domaines/finance.jpg-BANQUE-FINANCE-ASSURANCE">BANQUE-FINANCE-ASSURANCE</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="ABIOLOGIE-CHIMIE"){%>selected<%}%>value="/assets/uploads/domaines/biology.jpg-BIOLOGIE-CHIMIE">BIOLOGIE-CHIMIE</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="CINÉMA-AUDIOVISUEL-JEUX VIDÉO"){%>selected<%}%>value="/assets/uploads/domaines/visualProd.jpg-CINÉMA-AUDIOVISUEL-JEUX VIDÉO">CINÉMA-AUDIOVISUEL-JEUX VIDÉO</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="COMMERCE-IMMOBILIER"){%>selected<%}%>value="/assets/uploads/domaines/commerce.jpg-COMMERCE-IMMOBILIER">COMMERCE-IMMOBILIER</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="COMMUNICATION-JOURNALISME"){%>selected<%}%>value="/assets/uploads/domaines/journalis.jpg-COMMUNICATION-JOURNALISME">COMMUNICATION-JOURNALISME</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="CULTURE-SPECTACLE"){%>selected<%}%>value="/assets/uploads/domaines/culture.jpg-DROIT-JUSTICE">CULTURE-SPECTACLE</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="DROIT-JUSTICE"){%>selected<%}%>value="/assets/uploads/domaines/droits.jpg-DROIT-JUSTICE">DROIT-JUSTICE</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="EDITION-IMPRIMERIE-LIVRE"){%>selected<%}%>value="/assets/uploads/domaines/droits.jpg-EDITION-IMPRIMERIE-LIVRE">EDITION-IMPRIMERIE-LIVRE</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="ELECTRICITÉ-ELECTRONIQUE-ROBOTIQUE"){%>selected<%}%>value="/assets/uploads/domaines/robotics.jpg-ELECTRICITÉ-ELECTRONIQUE-ROBOTIQUE">ELECTRICITÉ-ELECTRONIQUE-ROBOTIQUE</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="ENERGIE"){%>selected<%}%>value="/assets/uploads/domaines/energy.jpg-ENERGIE">ENERGIE</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="ENSEIGNEMENT-FORMATION-INSERTION"){%>selected<%}%>value="/assets/uploads/domaines/teaching.jpg-ENSEIGNEMENT-FORMATION-INSERTION">ENSEIGNEMENT-FORMATION-INSERTION</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="ENVIRONNEMENT"){%>selected<%}%>value="/assets/uploads/domaines/environment.jpg-ENVIRONNEMENT">ENVIRONNEMENT</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="GESTION-COMPTABILITÉ-RH"){%>selected<%}%>value="/assets/uploads/domaines/management.jpg-GESTION-COMPTABILITÉ-RH">GESTION-COMPTABILITÉ-RH</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="HÔTELLERIE-RESTAURATION-TOURISME"){%>selected<%}%>value="/assets/uploads/domaines/hotellerie.jpg-HÔTELLERIE-RESTAURATION-TOURISME">HÔTELLERIE-RESTAURATION-TOURISME</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="HUMANITAIRE"){%>selected<%}%>value="/assets/uploads/domaines/humanitaire.jpg-HUMANITAIRE">HUMANITAIRE</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="INFORMATIQUE-WEB-RÉSEAUX"){%>selected<%}%>value="/assets/uploads/domaines/coding.jpg-INFORMATIQUE-WEB-RÉSEAUX">INFORMATIQUE-WEB-RÉSEAUX</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="LETTRES-SCIENCES HUMAINES-LANGUES"){%>selected<%}%>value="/assets/uploads/domaines/lettres.jpg-LETTRES-SCIENCES HUMAINES-LANGUES">LETTRES-SCIENCES HUMAINES-LANGUES</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="MATÉRIAUX-INDUSTRIE"){%>selected<%}%>value="/assets/uploads/domaines/fabrication.jpg-MATÉRIAUX-INDUSTRIE">MATÉRIAUX-INDUSTRIE</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="MÉCANIQUE-AUTOMOBILE"){%>selected<%}%>value="/assets/uploads/domaines/mecanics.jpg-MÉCANIQUE-AUTOMOBILE">MÉCANIQUE-AUTOMOBILE</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="SANTÉ-PARAMÉDICAL"){%>selected<%}%>value="/assets/uploads/domaines/medical.jpg-SANTÉ-PARAMÉDICAL">SANTÉ-PARAMÉDICAL</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="SCIENCES PHYSIQUE-MATHS-DATA"){%>selected<%}%>value="/assets/uploads/domaines/sciences.jpg-SCIENCES PHYSIQUE-MATHS-DATA">SCIENCES PHYSIQUE-MATHS-DATA</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="SOINS-ESTHÉTIQUE-COIFFURE"){%>selected<%}%>value="/assets/uploads/domaines/cosmetology.jpg-SOINS-ESTHÉTIQUE-COIFFURE">SOINS-ESTHÉTIQUE-COIFFURE</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="SPORT-ANIMATION"){%>selected<%}%>value="/assets/uploads/domaines/sport.jpg-SPORT-ANIMATION">SPORT-ANIMATION</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="TRANSPORT-LOGISTIQUE"){%>selected<%}%>value="/assets/uploads/domaines/logisitcs.jpg-TRANSPORT-LOGISTIQUE">TRANSPORT-LOGISTIQUE</option>
                        
                        <option <%if(projet.domaine.substr(projet.domaine.indexOf('-')+1)=="Autre..."){%>selected<%}%>value="/assets/uploads/domaines/projets.jpg-Autre...">Autre...</option>
                        
                      </select>
                      <div id="validationFeedback" class="invalid-feedback">
                        Veuillez choisir le domaine de votre projet .
                      </div>
                    </div>
                  </div>
                  <div class="form-group row ">
                    <div class="col-sm-12 ">
                      <label for="dod">Critères de terminaison de votre projet(definition of done)</label>
                    </div>
                    <div class="col-sm-12 m-auto">
                      <input type="text"  class="form-control " id="dod" name="dod" placeholder="Décrivez les critères de terminaison de votre projet..." value="<%=projet.definitionOfDone%>">
                      <div id="validationFeedback" class="invalid-feedback">
                        veuillez définir les critères de terminaison de votre projet.
                      </div>
                    </div>
                   
                  </div>
                  <div class="form-group row ">
                    <div class="col-sm-12 ">
                      <label for="country">Identifiez le Scrum Master de votre projet </label>
                    </div>
                    <div class="col-sm-12 m-auto">

                        <select name="scrumMaster" id="scrumMaster" class="form-control">
                            <option value"invalid_choice">Veuillez sélectionner le Scrum Master de votre projet </option>
                            <%for(var i=0;i<users.length;i++)
                            {
                              if(projet.identifiantScrumMaster==users[i]._id)
                              {%><option value="<%=users[i]._id%>" selected><%=users[i].prenom%> <%=users[i].nom%></option><%}
                              else
                              {%><option value="<%=users[i]._id%>" selected><%=users[i].prenom%> <%=users[i].nom%></option><%}
                           }%>
                            </select>
                      <div id="validationFeedback" class="invalid-feedback">
                        Veuillez choisir le Scrum Master de votre projet 
                      </div>
                    </div>
                   
                  </div>
                           
                  <div class="row d-flex justify-content-center">
                    <div class=" mt-2 col-4 justify-content-around d-flex ">
                        <button  type="reset" class="btn " id="prev" >Annuler<i class="bi bi-x"></i></button>
                        <button  type="submit" class="btn " id="next" >Mettre à jour<i class="bi bi-check2"></i></button>
                      </div>
                  </div>                 
                  
                </form>
                </div>
            </div>
            
            <!--first row end -->
 

         </div>
          
       </div>
  </div>
  </div>
    <script src="assets/js/navbar.js" ></script>
    <script src="/assets/js/registration.js"></script>

</body>
</html>